:root {
    --ig-status-text-color: #800000; /* 1. IG Title and status text color */
    --navbar-bg-color: #ad1f2f; /* 2. Header container color */
    --footer-bg-color: #808080; /* 3. Footer background color*/
    --footer-container-bg-color: #ad1f2f; /* 4. Footer container color */
    --stripe-bg-color: #999999; /* 5. Header strip color */
    --btn-hover-color: #800000;  /* 6. Menu button hover color */
    --btn-active-color: #800000; /* 7. Menu button active color */
    --btn-text-color: #e6e6e6; /* 8. Menu button text color */
    --btn-gradient-start-color: #fc8181; /* 9. Menu item gradient start color */
    --btn-gradient-end-color: #fc8181; /* 10. Menu item gradient end  color */
    --btn-gradient-start-color-alpha: #d2b48c; /* 11. Menu item gradient start color (with alpha) */
    --btn-gradient-end-color-alpha: #fa8072; /* 12. Menu item gradient end color (with alpha) */
    --link-color: #2f4f4f; /* 13. Hyperlink text color */
    --link-hover-color: #8b0000; /* 14. Hyperlink text hover color */
    --publish-box-bg-color: #bee3f8; /* 15. Publish box background color */
    --publish-box-border: 1px solid #000000; /* 16.  Publish box border definition */
    --toc-box-bg-color: #ffffe6; /* 17.  TOC box background color */
    --toc-box-border: 1px solid #000000; /* 18. TOC box border definition */
    --stu-note-background-color: #8b4513; /* 19. (STU) Note box background color */
    --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */
    --ig-header-color: #f7f7f7; /* 21. Header color (sides) */
    --ig-header-container-color: #ffffff; /* 22. Header container color (center) */
    --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/
    --footer-text-color: #ffffff; /* 24. Footer highlight font color */
    --footer-hyperlink-text-color: #81BEF7; /* 25. Footer hyperlinks font color */
    --footer-highlight-text-color: #ffff77; /* 26. Footer highlight font color */
    --breadcrumb-bg-color: #f5f5f5; /* 27. Breadcrumb background color */
    --breadcrumb-text-color: #302010; /* 28. Breadcrumb font color */
    --dragon-background-color: #ebe7ee; /* 29. Dragon background color */
    --dragon-font-color: #400070; /* 30. Dragon font color */
}
